@model FinalProjectShopping.Models.CategoryHtmlVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <========================= Slider  =========================> -->
<section id="index_slider">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item cl_bs_item_height">
                    <img class="cl_im_height" src="~/assents_home/images/shopping.jpg" alt="">
                </div>
                <div class="item cl_bs_item_height">
                    <img class="cl_im_height" src="~/assents_home/images/shopping2.jpg" alt="">
                </div>
                <div class="item cl_bs_item_height">
                    <img class="cl_im_height" src="~/assents_home/images/shopping3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <========================= Middle Menu  =========================> -->
<section id="middle_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="1"})"><img class="_cl_zoom" src="~/assents_home/images/300x300clothing1.jpeg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="1"})"><img class="_cl_zoom" src="~/assents_home/images/300x300clothing2.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="1"})"><img class="_cl_zoom" src="~/assents_home/images/300x300clothing3.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="1"})"><img class="_cl_zoom" src="~/assents_home/images/300x300clothing4.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Fasion</h3>
            </div>
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="7"})"><img class="_cl_zoom" src="~/assents_home/images/watch300.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="7"})"><img class="_cl_zoom" src="~/assents_home/images/watch3001.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="7"})"><img class="_cl_zoom" src="~/assents_home/images/watch3002.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="7"})"><img class="_cl_zoom" src="~/assents_home/images/watch3003.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Watch</h3>
            </div>
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="5"})"><img class="_cl_zoom" src="~/assents_home/images/sport300.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="5"})"><img class="_cl_zoom" src="~/assents_home/images/sport3001.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="5"})"><img class="_cl_zoom" src="~/assents_home/images/sport3002.png" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="5"})"><img class="_cl_zoom" src="~/assents_home/images/sport3003.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Sports</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="2"})"><img class="_cl_zoom" src="~/assents_home/images/tech300.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="2"})"><img class="_cl_zoom" src="~/assents_home/images/tech3001.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="2"})"><img class="_cl_zoom" src="~/assents_home/images/tech3002.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="2"})"><img class="_cl_zoom" src="~/assents_home/images/tech3003.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Tech</h3>
            </div>
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="3"})"><img class="_cl_zoom" src="~/assents_home/images/shoes300.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="3"})"><img class="_cl_zoom" src="~/assents_home/images/shoes3001.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="3"})"><img class="_cl_zoom" src="~/assents_home/images/shoes3002.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="3"})"><img class="_cl_zoom" src="~/assents_home/images/shoes3003.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Shoes</h3>
            </div>
            <div class="col-md-4">
                <div class="row _rov_margin">
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="4"})"><img class="_cl_zoom" src="~/assents_home/images/home300.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="4"})"><img class="_cl_zoom" src="~/assents_home/images/home3001.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <div class="row _rov_margin">
                    <div class="col-md-6 c">
                        <a href="@Url.Action("Category","Home", new {id="4"})"><img class="_cl_zoom" src="~/assents_home/images/home3002.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="col-md-6 _col_padding">
                        <a href="@Url.Action("Category","Home", new {id="4"})"><img class="_cl_zoom" src="~/assents_home/images/home3003.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <h3 class="text-center">Home & Garden</h3>
            </div>
        </div>
    </div>
</section>

<!-- <========================= Item Blog  =========================> -->

<section id="item_blog">
    <div class="container">
        <div class="row">
            @foreach(var item in Model._product.OrderByDescending(p=>p.product_id).Take(12))
            {
                <div class="col-md-3 text-center">                
                    <a href="@Url.Action("Product","Home", new {id=item.product_id})">
                        <div class="_item">
                            <div class="_item_opacity"></div>
                            <img src="@item.ProductImages.Where(p=>p.product_img_product_id==item.product_id).First().product_img" alt="" style="width:100%">
                            <h5>@item.product_name</h5>
                            <p>@item.product_price $</p>
                            <span class="_item_button">View</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
