@model FinalProjectShopping.Models.CategoryHtmlVM
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- <========================= Product  ========================> -->

    <section>
        <div class="container-fluid">
            <div class="_cl_product_search_list">
                <div class="row">
                    <div>
                        <h6><a href="#"> < Bact To Search List</a></h6>
                    </div>
                    <div class="_cl_list_category">
                        <h6>Listed in category: <a href="clothing.html">Clothing</a><a href="manclothing.html"> > man</a><a href="pants.html"> > pants</a></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="_cl_product_img">
                            <img src="@ViewBag.img[0].product_img" alt="" style="width:100%">
                        </div>
                        <div class="_cl_product_img_list">
                            <div class="row">                                
                                @foreach (var img_item in ViewBag.img)
                                {
                                    <div class="col-md-3">
                                        <div>
                                            <img src="@img_item.product_img" alt="" style="width:100%">
                                        </div>
                                    </div>
                                }                                
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="_cl_product_name">
                            <h3>@Model._oneproduct.product_name</h3>
                        </div>
                        <div class="container">
                            <div class="_product_price_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p>Price:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <h4 class="_cl_price_text_decor">@Model._oneproduct.product_price $</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="_product_sale_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p>Discount Price:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <h3>00.00$</h3>
                                                <h3 class="_cl_sale_color">12%</h3>
                                                <h3 class="_cl_sale_color">00-00-00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="_product_color_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p>Color:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">                                            
                                            <div class="row">
                                                @foreach (var c_item in Model._color)
                                                {
                                                    foreach(var item in ViewBag.img)
                                                    {
                                                        if (c_item.color_id==item.product_img_color_id)
                                                        {
                                                            <div class=" col-sm-2 col col-lg-1">
                                                                <div class="_product_color" style="background-color:@c_item.color_name; border:1px solid grey" id="@item.product_img_id" value="@item.product_img" onclick="getColorImg(this.id)"></div>
                                                            </div>
                                                        }
                                                    }
                                                }                                                
                                            </div>
                                            <span class="_select_color"></span>
                                            @section productColorImage { 
                                            <script>
                                                var currentCount = 0;
                                                var imgId = 0;

                                                $("._product_color").on("click", function () {
                                                    $("._select_color").text("");
                                                    var y = $(this).attr("id");
                                                    $("._img_id").val(y);
                                                        imgId = y;
                                                    $.ajax({
                                                        url: "/Home/getCount/"+y,
                                                        method: "GET",
                                                        type: "text",
                                                        success: function (response) {
                                                            currentCount = response;
                                                            if (currentCount > 0) {
                                                                $("._quantity_content").text("pieces (" + currentCount + " pieces available)");
                                                                $("._product_count").val("" + currentCount + "")
                                                            }
                                                            else {
                                                                $("._quantity_content").text("pieces (1 pieces available)");
                                                            }
                                                            
                                                        },
                                                        error: function (errorMessage) {
                                                            console.log(errorMessage);
                                                        }
                                                    });
                                                })


                                                $("._product_size").click(function () {
                                                    $("._select_size").text("");
                                                    $("._size_id").val($(this).attr("id"))
                                                    if (imgId >0) {
                                                        $.ajax({
                                                            url: "/Home/getSizeCount/" + imgId + "/" + this.id,
                                                            method: "GET",
                                                            type: "text",
                                                            success: function (response) {
                                                                currentCount = response;
                                                                $("._quantity_content").text("pieces (" + currentCount + " pieces available)");
                                                                $("._product_count").val("" + currentCount + "")
                                                            },
                                                            error: function (errorMessage) {
                                                                console.log(errorMessage);
                                                            }
                                                        });
                                                    }
                                                });
                                                




                                                function getColorImg(id) {
                                                    $("._cl_product_img img").attr("src", $("#"+id).attr("value"));
                                                    var url = "@Url.Action("Imgsize", "Home", new {id = "-1"})";
                                                    url = url.replace("-1", id);

                                                    $.ajax({
                                                        url: url,
                                                        method: "GET",
                                                        type: "text",
                                                        success: function (response) {
                                                            $(".sizeBoxesBack").find("._product_size").removeAttr("id");
                                                            $(".sizeBoxesBack").find("._product_size").removeAttr("style");

                                                            sizeBoxesCount = $(".sizeBoxesBack").find("._product_size").length;
                                                            var test = [];
                                                            $.each(response, function (index, element) {
                                                                test.push(element.size_name);
                                                                for (var i = 0; i < sizeBoxesCount; i++) {
                                                                    if ($(".sizeBoxesBack").find("._product_size").eq(i).text() == element.size_name) {
                                                                        $(".sizeBoxesBack").find("._product_size").eq(i).attr("id", element.size_id)
                                                                    }
                                                                }
                                                            });

                                                            for (var i = 0; i < sizeBoxesCount; i++) {
                                                                if ($.inArray($(".sizeBoxesBack").find("._product_size").eq(i).text(), test) > -1) {
                                                                    //burani silmek olmaz. Burda esas else'dir
                                                                } else {
                                                                    $(".sizeBoxesBack").find("._product_size").eq(i).css({ "pointer-events": "none", "color": "grey"});

                                                                }
                                                            }
                                                        },
                                                        error: function (errorMessage) {
                                                            console.log(errorMessage);
                                                        }
                                                    });
                                                }

                                                
                                                $("._addtocart").on("click", function () {
                                                    if ($("._img_id").val() == "") {
                                                        $("._select_color").text("Select Color!").css("color","red")
                                                        return false;
                                                    }
                                                    if (currentCount==0) {
                                                        if ($("._size_id").val() == "") {
                                                            $("._select_size").text("Select Size!").css("color", "red")
                                                            return false;
                                                        }
                                                    }
                                                    $("._addtocartform").submit();
                                                    
                                                })
                                                


                                            </script>
                                            }
                                            
                                            <div class="row">                                                
                                                @*<div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: black;"></div>
                                                </div>
                                                <div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: red;"></div>
                                                </div>
                                                <div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: yellow;"></div>
                                                </div>
                                                <div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: green;"></div>
                                                </div>
                                                <div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: brown;"></div>
                                                </div>
                                                <div class=" col-sm-2 col col-lg-1">
                                                    <div class="_product_color" style="background-color: blue;"></div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_product_size_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p>Size:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row sizeBoxesBack">                                                
                                                @foreach (var s_item in Model._size)
                                                {                                                    
                                                    <div class=" col-sm-2 col col-lg-1">
                                                        <div class="_product_size">@s_item.size_name</div>
                                                    </div>
                                                }
                                            </div>
                                            <span class="_select_size"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_product_shipping_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p>Shipping:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <p>FREE Economy International Shipping</p>
                                            </div>
                                            <div class="row">
                                                <p class="_cl_product_shipping">Item location:</p>
                                                <p class="_cl_product_shipping _cl_product_location">@Model._oneproduct.BusinessAccount.business_location</p>
                                            </div>
                                            <div class="row">
                                                <p class="_cl_product_shipping">Estimated Delivery Time:</p>
                                                <p class="_cl_product_shipping _cl_product_shipping_day"> 00 - 00 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_product_quantity_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p class="_quantity_text">Quantity:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="input-group  _quantity_margin">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="quantity-left-minus  btn btn-secondary" data-type="minus" data-field="">
                                                                -
                                                            </button>
                                                        </span>
                                                        <input type="number" id="quantity" name="quantity" class="input-number text-center _quantity_input" value="1" min="1" max="100">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="quantity-right-plus btn btn-secondary" data-type="plus" data-field="">
                                                                +
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <p class="_quantity_content">pieces (1 pieces available)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_product_totalprice_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 ">
                                        <div class="text-right">
                                            <p>Total Price:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10 ">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <h4 class="_total_price">@Model._oneproduct.product_price $</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_product_button_content">
                                <div class="row">
                                    

                                    <form class="_addtocartform" action="@Url.Action("Create","UserBag")" method="post" style="display:none">
                                        <input type="text" name="product_id" value="@Model._oneproduct.product_id" />
                                        <input class="_img_id" type="text" name="product_img_id" value="" />
                                        <input class="_size_id" type="text" name="product_pivot_id" value="" />
                                        <input class="_product_count" type="text" name="product_count" value="" />
                                    </form>
                                    <div class="_cl_button">
                                        <button class="btn btn-default waves-effect waves-light">Buy Now</button>
                                        @if (ViewBag.log != null)
                                        {
                                            <button class="btn btn-primary waves-effect waves-light _addtocart">Add to Cart</button>
                                        }
                                        else {
                                            <button class="btn btn-primary waves-effect waves-light _addtocartelse" data-toggle="modal" data-target="#exampleModalCenter">Add to Cart</button>

                                            @*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="exampleModalLongTitle">Entered your account</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5>You want to be included in your account?</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                            
                                            <!-- Central Modal Danger Demo-->
                                            <div class="modal fade right" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-notify modal-danger modal-side modal-top-right" role="document">
                                                    <!--Content-->
                                                    <div class="modal-content">
                                                        <!--Header-->
                                                        <div class="modal-header">
                                                            <p class="heading">You are not logged in your account</p>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true" class="white-text">&times;</span>
                                                            </button>
                                                        </div>
                                                        <!--Body-->
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    <p></p>
                                                                    <p class="text-center"><i class="fa fa-shopping-cart fa-4x"></i></p>
                                                                </div>
                                                                <div class="col-9">
                                                                    <h4 style="margin-top:15px;">You want to be included in your account?</h4>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--Footer-->
                                                        <div class="modal-footer justify-content-center">
                                                            <a type="button" href="@Url.Action("Index", "LoginRegister")" class="btn btn-primary">Yes</a>
                                                            <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">No, thanks</a>
                                                        </div>
                                                    </div>
                                                    <!--/.Content-->
                                                </div>
                                            </div>
                                            <!-- Central Modal Danger Demo-->

                                            <div class="text-center">
                                                <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#ModalDanger">Launch Modal Danger <i class="fa fa-eye ml-1"></i></a>
                                            </div>                
                
                                        }
                                    </div>                                    
                                </div>
                            </div>
                            <div class="_product_payments_content">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="text-right">
                                            <p class="_payments_text_margin">Payments:</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10 ">
                                        <div class="text-left _text_lefts_margin">
                                            <div class="row">
                                                <div><img src="~/assents_home/images/pay01.png" alt="" class="_payments_img"></div>
                                                <div><img src="~/assents_home/images/pay02.png" alt="" class="_payments_img"></div>
                                                <div><img src="~/assents_home/images/pay03.png" alt="" class="_payments_img"></div>
                                                <div><img src="~/assents_home/images/pay04.png" alt="" class="_payments_img"></div>
                                                <div><img src="~/assents_home/images/pay05.ico" alt="" class="_payments_img"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="_product_other">
                <div class="row">
                    @foreach(var item in Model._product)
                    {
                        if (item.product_innersubcategory_id == Model._oneproduct.product_innersubcategory_id)
                        {
                            if (item.product_id!=Model._oneproduct.product_id)
                            {
                                <div class="col-md-2">
                                    <a href="@Url.Action("Product","Home", new {id=item.product_id})">
                                        <div class="_item text-center">
                                            <div class="_item_opacity"></div>
                                            <img src="@item.ProductImages.Where(s=>s.product_img_product_id==item.product_id).First().product_img" alt="" style="width:100%">
                                            <h5>@item.product_name</h5>
                                            <p>@item.product_price $</p>
                                            <span class="_item_button">View</span>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    }                    
                </div>
            </div>
        </div>
    </section>

