@model FinalProjectShopping.Models.ProductViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="~/assents_home/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form method="post" action="~/Business/Create" enctype="multipart/form-data" class="createItemForm">
            <div id="contentProduct">
                <div class="form-group">
                    <label for="productname">Product Name</label>
                    <input type="text" name="product_name" class="form-control" id="productname" aria-describedby="emailHelp" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="productprice">Product Price</label>
                    <input type="text" name="product_price" class="form-control" id="productprice" placeholder="Product Price">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="product_category_id">
                          <option value="0">>>Select<<</option>
                        @foreach (var category_item in Model._category)
                         {
                            <option value="@category_item.category_id">@category_item.category_name</option>
                         }
                    </select>
                </div>
                <div class="form-group">
                    <label for="subcategory">Subcategory</label>
                    <select class="form-control" id="subcategory" name="product_subcategory_id">
                        <option value="0">>>Select<<</option>
                        @foreach (var subcategory_item in Model._subcategory)
                         {
                            <option value="@subcategory_item.subcategory_id">@subcategory_item.subcategory_name</option>
                         }
                    </select>
                </div>
                <div class="form-group">
                    <label for="Iinersubcategory">Innersubcategory</label>
                    <select class="form-control" id="innersubcategory" name="product_innersubcategory_id">
                        <option value="0">>>Select<<</option>
                        @foreach (var innersubcategory_item in Model._innersubcategory)
                        {
                        <option value="@innersubcategory_item.innersubcategory_id">@innersubcategory_item.innersubcategory_name</option>
                        }
                    </select>
                </div>
                <div id="cloned" class="row UploadFileAndColor">
                    <div class="form-group col-4">
                        <label for="exampleInputFile">File input</label>
                        <input name="file" type="file" class="form-control-file" aria-describedby="fileHelp">
                    </div>
                    <div class="form-group col-3">
                        <label for="color">Color</label>
                        <select class="form-control" name="colorId" id="color">
                            <option value="0">>>Select<<</option>
                            @foreach (var color_item in Model._product_color)
                            {
                                <option value="@color_item.color_id">@color_item.color_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3" id="count">
                        <label for="product_conut">Product Count</label>
                        <input type="text" name="product_count" class="form-control" id="product_count" aria-describedby="emailHelp" placeholder="Product Count">
                    </div>
                    <div class="col-5" id="size">
                        <div class="row">
                            @foreach (var size_item in Model._size)
                             {
                                <div class="form-check col-6 ">
                                    <input type="checkbox" class="form-check-input product_size" name="product_size" value="@size_item.size_id">
                                    <label class="form-check-label" for="product_size">@size_item.size_name</label>                                    
                                </div>
                                <div class="form-group col-6">                                    
                                    <input type="text" name="product_size_count" class="form-control" id="product_size_count" aria-describedby="emailHelp" placeholder="Product Count">
                                </div>
                            }
                        </div>
                    </div> 
                    <input style="display:none" type="text" class="checkBoxList" name="checkBoxList_name" /> 
                </div>
            </div>
            <span id="AddNewFile" style="cursor:pointer;" class="pointer  mb-4 btn-primary btn">Add New File</span>
            <button type="submit" id="submit_btn" onclick="return test()" class="btn d-block btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
    <script>
        $("#AddNewFile").click(function () {
            $("#cloned").clone().appendTo("#contentProduct");
        });


        function test() {
            var clounedElementCount = $('.UploadFileAndColor').length;
            var value = "";
            for (var i = 0; i < clounedElementCount; i++) {
                var SizeCheckboxesCount = $(".UploadFileAndColor").eq(i).find(".product_size").length; 
                for (var a = 0; a < SizeCheckboxesCount; a++) { 
                    if ($(".UploadFileAndColor").eq(i).find(".product_size").eq(a).prop("checked")) { 
                       value += $(".UploadFileAndColor").eq(i).find(".product_size").eq(a).val();
                        $(".UploadFileAndColor").eq(i).find(".checkBoxList").val(value); 
                    } 
                } 
                value = "";
            }  
        }




        $("#category").change(function () {
            if ($('#category option:selected').text() != "Clothing") {
                $('#size').css("display", "none")
                $('#count').css("display", "block")
            }
            else {
                $('#size').css("display", "block")
                $('#count').css("display", "none")
            }
        })
    </script>
</body>
</html>
